.main-subcategory {
    padding: 0 65px;
    position: relative;
    background-color: #ffffff;
}

.section-1 {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;


    .ol-direct {
        list-style-type: none;
        display: flex;
        gap: 20px;
        border-bottom: 1px solid var(--border1);
        padding: 0;
        padding-bottom: 30px;
    }

    .ol-direct>li {
        color: #5e5e5e;
    }

    .ol-direct>li:nth-child(2):before,
    .ol-direct>li:nth-child(3):before {
        content: '>';
        color: #999999;
        font-size: 1.1rem;
        font-family: var(--font-1);
        vertical-align: middle;
        padding-right: .7rem;
    }

    .ol-direct>li:nth-child(3) {
        color: var(--color1);
    }

}



.container-all-items {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0px 30px;
    user-select: none;

    .content-filters {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 350px;
        max-width: 300px;

    }

    .content-products {
        width: 100%;

    }
}


.container-filter-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border1);

    p {
        font-weight: 400;
        font-size: .9rem;
        color: var(--text-200);
    }

    .container-btns-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .btn-clear-form {
        display: block;
        width: fit-content;
        text-decoration: none;
        color: gray;
        font-size: .9rem;
    }

    .btn-apply {
        display: block;
        width: fit-content;
        height: fit-content;
        border: none;
        padding: 0;
        margin: 0;
        font-size: .9rem;
        color: var(--color2);
        font-weight: 400;
        background-color: inherit;
        cursor: pointer;
        transition: .3s;
    }


    .btn-apply:hover {
        color: var(--color3);
    }
}



.details-brands {
    color: var(--text-100);
    font-size: 1.2rem;
    padding: 20px 0;
    border-bottom: 1px solid var(--border1);

    summary {
        position: relative;
        list-style: none;
        display: flex;
        align-items: center;
    }

    summary::after {
        content: '+';
        color: var(--text-100);
        font-size: 1.5rem;
        position: absolute;
        top: -7px;
        left: auto;
        right: 0;
    }


    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    div>div {
        gap: 3px;
    }

    div>div>p {
        color: var(--color1);
        margin: 5px 0;
        font-size: .9rem;
    }

    div>div>input {
        accent-color: var(--text-100);
        height: 14px;
        width: 14px;
    }

    span {
        font-weight: 300;
        font-size: .82rem;
        border: none !important;
        outline: none !important;
        min-width: .9rem;
        color: var(--text-300);
    }
}

.details-brands[open] summary::after {
    content: '-';
}

.details-price {
    color: var(--text-100);
    font-size: 1.2rem;
    padding: 20px 0;
    border-bottom: 1px solid var(--border1);

    summary {
        position: relative;
        list-style: none;
        display: flex;
        align-items: center;
    }

    summary::after {
        content: '+';
        color: var(--text-100);
        font-size: 1.5rem;
        position: absolute;
        top: -7px;
        left: auto;
        right: 0;
    }

    select {
        appearance: none;
        width: 100%;
        font-size: .9rem;
        padding: 5px 10px;
        background-color: #fff;
        border: 1px solid #caced1;
        border-radius: 0.25rem;
        color: #000;
        cursor: pointer;
        margin-top: 10px;

        /* remove arrows */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: none;
    }

    /* remove arrows */
    select::-ms-expand {
        display: none;
    }

    /* remove arrows */
    select::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    select:focus {
        outline: none;
    }

    select>option {
        padding: 5px;
    }

    select>option:checked {
        background: linear-gradient(var(--color2)) !important;
    }
}


.details-price[open] summary::after {
    content: '-';
}


/* PRODUCTS */

.container-total-products-text {
    color: var(--bg-400);
    padding-bottom: 10px 0;
    font-size: .9rem;

    span {
        color: var(--color1);
    }
}



.container-card-products {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
}


.card-product {
    padding-bottom: 50px;

    .container-img-card {
        position: relative;
        overflow: hidden;
    }


    .new-label-product {
        position: absolute;
        top: 15px;
        left: 15px;
        padding: 3px 8px;
        background-color: var(--color2);
        color: white;
        font-size: .8rem;
    }


    .img-product {
        display: block;
        width: 100%;
        height: 350px;
        object-fit: cover;
        margin: 0 auto;
    }

    .icon-add-cart {
        width: 0px;
        transition: .2s ease-in-out;
    }

    .add-to-card {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        text-align: center;
        background-color: var(--color1);
        transform: translateY(10px);
        transition: all .4s ease;
        opacity: 0;
        width: 100%;
        padding: 7px 0;
        color: white;
        text-decoration: none;
        overflow: hidden;
    }


    .container-title-price {
        margin-top: 10px;
    }

    .product-title {
        font-weight: 400;
        text-align: center;
        font-family: var(--font-1);
        letter-spacing: -.01em;
        display: block;
        text-decoration: none;
        color: var(--color1);
        margin: 0;
        margin-top: 5px;
        transition: .3s ease;
    }


    .product-title:hover {
        color: var(--color2);
        transition: .3s ease;
    }

    .product-price {
        text-align: center;
        color: var(--color1);
        font-size: 1.1rem;
        font-weight: 350;
        margin: 0;
        padding: 0;
    }
}


.add-to-card:hover {
    background-color: var(--color2);

    .icon-add-cart {
        width: 20px;
        margin-right: 5px;
        opacity: 1;
        transition: .2s ease-in-out;
    }
}


.card-product:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

    .add-to-card {
        transform: translateY(0px);
        transition: all .4s ease;
        opacity: 1;
    }
}