.header {
    width: 100%;
    height: 75px;
    position: sticky;
    z-index: 1000000000000000000000000000000;
    margin: 0 auto;
    top: 0;
    border-bottom: 1px solid rgb(241, 241, 241);
    user-select: none;
    background-color: white;
}


.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    padding: 0 50px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


.container-logo-categories {
    .logo1 {
        display: flex;
        align-items: center;
        font-size: 2.25rem;
        font-weight: 700;
        text-decoration: none;
        color: var(--color1);
    }

    .logo1>img {
        display: block;
        width: 50px;
        height: 50px;
    }
}


.container-search-categories {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 20px;



    /* DROPDOWN CATEGORIES */

    .dropdown-categories {
        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
        --clippy-hover: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .dropdown-categories::after {
        content: "";
        display: block;
        background-color: var(--color1);
        width: 100%;
        height: 2px;
        margin-top: 1px;
        clip-path: var(--clippy);
        transition: clip-path .2s;
    }

    .dropdown-categories.visible::after {
        clip-path: var(--clippy-hover);
    }

    .dropdown-categories:not(.visible):hover::after {
        --clippy: var(--clippy-hover);
    }

    /* BUTTON CATEGORIES */
    button {
        display: flex;
        align-items: center;
        border: none;
        height: 100%;
        color: var(--color1);
        gap: 3px;
        background-color: inherit;
        font-weight: 500;
        font-size: 0.86rem;
        cursor: pointer;
        transition: color, fill .2s;
    }


    .dropdown-content-categories {
        display: none;
        position: absolute;
        background-color: white;
        width: 100%;
        max-width: 1400px;
        height: 300px;
        overflow-y: auto;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1;
        color: black;
        top: 75px;
        box-shadow: 0 5px 5px -5px rgb(90, 90, 90);
    }

    .row-categories {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(14.3rem, 1fr));
        padding: 20px;
    }

    .column-categories>a {
        color: rgba(78, 78, 78, 0.808);
        padding: 13px;
        text-decoration: none;
        display: block;
        text-align: left;
        transition: .1s;
        border-radius: 3px;
        border: 1px solid var(--border-color);
        transition: ease-in-out .2s;
    }

    .column-categories>a:hover {
        color: var(--primary-color3);
        border: 1px solid var(--primary-color3);
    }

    /* SEARCH BAR */
    .container-searchbar {
        display: flex;
        align-items: center;
        position: relative;
        gap: 10px;
        width: 400px;
        max-width: 400px;
        padding: 0px 0px 0px 10px;
        border-bottom: 2px solid rgb(255, 255, 255);
        transition: border-color .3s;
        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);

        input {
            width: 100%;
            outline: none;
            border: none;
        }

        .btn-search {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            padding: 5px 0px;
            border: 0;
            background-color: inherit;
            color: white;
            cursor: pointer;
        }
    }

    .container-searchbar::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        background-color: var(--color1);
        width: 100%;
        height: 2px;
        clip-path: var(--clippy);
        transition: clip-path .2s;
    }

    .container-searchbar:hover {
        --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .container-searchbar:focus-within {
        border-bottom: 2px solid var(--color1);
        padding: 0px 0px 0px 10px;
    }
}




.container-cart-authentication {
    display: flex;
    align-items: center;
    gap: 20px;


    .header-link-cart,
    .header-link-account {
        display: block;
        width: fit-content;
        transition: ease .3s;
        align-items: center;
        justify-content: center;
        fill: white;
        stroke: var(--color1);
        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);

    }


    .header-link-cart::after,
    .header-link-account::after {
        content: "";
        display: block;
        background-color: var(--color1);
        width: 100%;
        height: 2px;
        margin-top: 1px;
        clip-path: var(--clippy);
        transition: clip-path .2s;
    }

    .header-link-cart:hover,
    .header-link-account:hover {
        --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

}


/* MENU LOGIN */
.dropdownProfile {
    position: relative;
    display: block;
    width: fit-content;
    user-select: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    min-width: 280px;
    z-index: 1;
    left: auto;
    right: 0px;
    border-radius: 5px;
    border: 1px solid rgb(206, 206, 206);
}

.container-info-user-menu {
    gap: 10px;
    padding: 15px;
    border-bottom: 1px solid var(--bg-300);
}

.container-info-user-names>p {
    font-size: 0.9rem;
    margin: 0;
    color: var(--text-color2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-info-user-names>:first-child {
    font-weight: 700;
    color: var(--color1);
    margin-bottom: 5px;
}

.dropdown-content a {
    color: var(--text-100);
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 0.9rem;
    font-family: var(--dm-sans);
    transition: background-color .2s;
}

.dropdown-content a:hover {
    background-color: var(--text-100);
    color: white;
}

.dropdown-content>a:last-child {
    border-top: 1px solid var(--bg-300);
    border-radius: 0 0 5px 5px;
}

.dropdown.open .dropdown-content {
    display: block;
    margin-top: 20px;
}

.dropbtn {
    padding: 10px 12px;
    border-radius: 50%;
    border: none;
    background-color: var(--text-100);
    color: white;
    font-family: var(--dm-sans);
    font-weight: 600;
}