{% extends 'layouts/base.html' %}
{% load static %}
{% block cssstyles %}
<link rel="stylesheet" href="{% static 'css/content_products.css' %}" type="text/css">
{% endblock %}
{% block title %}Luxe | {{title_window}}{% endblock %}


{% block content %}
{% include 'layouts/header.html' %}
<main class="main-subcategory">
    {% include 'layouts/messages.html' %}
    <section class="section-1">
        <ol class="ol-direct">
            <li>Inicio</li>
            <li>{{category}}</li>
            <li>{{title_window}}</li>
        </ol>

        <div class="container-all-items">
            <div class="content-filters">
                <form action="{{products_of_the_subcategory.get_products_of_the_subcategory}}" method="get"
                    class="form-filter">
                    {% csrf_token %}
                    <div class="container-filter-button">
                        <p>Filters:</p>
                        <div class="container-btns-form">
                            <a href="{% url 'products_of_the_subcategory' category.slug_cate subcategory.slug_sub %}"
                                class="btn-clear-form">Clear all</a>
                            <button type="submit" class="btn-apply">Apply</button>
                        </div>
                    </div>

                    <details class="details-brands" open>
                        <summary>Brand</summary>
                        {% for brand in brands %}

                        <div class="diferent-brand">
                            <div>
                                <input type="checkbox" name="brand" value="{{brand.brand}}"
                                    {% if brand.brand in selected_brand %}check{% endif %}>
                                <p>{{brand.brand}}</p>
                            </div>
                            <span class="count">{{brand.count}}</span>
                        </div>
                        {% endfor %}
                    </details>

                    <details class="details-price">
                        <summary>Price</summary>

                        <select name="price_order" onfocus="this.size=3;" onblur="this.size=0;"
                            onchange="this.size=1; this.blur()">
                            <option value="" {% if not price_order %}selected{% endif %}>Select option</option>
                            <option value="desc" {% if price_order == 'desc' %}selected{% endif %}>Mayor a Menor
                            </option>
                            <option value="asc" {% if price_order == 'asc' %}selected{% endif %}>Menor a Mayor</option>
                        </select>
                    </details>
                </form>
            </div>

            <div class="content-products">
                <div class="container-total-products-text">
                    <p>Showing <span>9 of {{products.count}}</span> products</p>
                </div>
                <ul class="container-card-products">
                    {% for product in products %}
                    <li class="card-product">
                        <div class="container-img-card">
                            {% if product.create >= today%}
                            <span class="new-label-product">New</span>
                            {% endif%}
                            <img src="{{product.image.url}}" alt="{{product.name}}" class="img-product">
                            <a href="#" class="add-to-card">
                                <img src="{% static 'icons/add_cart.svg' %}" alt="add cart" class="icon-add-cart">
                                Add to card
                            </a>
                        </div>
                        <div class="container-title-price">
                            <a href="#" class="product-title">{{product.name}}</a>
                            <p class="product-price">${{product.price}}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>


        </div>

    </section>
</main>
{% endblock %}