.main-signin {
    position: relative;
}

.section-1 {
    width: 550px;
    max-width: 550px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0 auto;
}


.container-redirect-home {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--text-100);
    font-family: var(--font-2);

    a {
        font-weight: 700;
        color: var(--color1);
        text-decoration: none;
    }
}


.btn-google {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    border: 1px solid rgb(151, 151, 151);
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(131, 131, 131);
    width: 100%;
    max-width: 300px;
    transition: .2s ease-in;
    margin-top: 50px;
}

.btn-google:hover {
    background-color: var(--text-100);
    color: white;
}



.form-signin {
    width: 550px;
    max-width: 550px;
    margin-top: 30px;

    input {
        width: 100%;
        display: block;
        margin-top: 15px;
        padding: 7px 15px;
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(182, 182, 182);
        line-height: 1.9rem;
        font-size: 1.1rem;
        font-family: var(--font-3);
        font-weight: 400;
    }

    input::placeholder {
        font-family: var(--font-2);
    }

    input:focus {
        border-bottom: 2px solid black;
    }

    .btn-signin {
        display: block;
        width: 100%;
        margin-top: 30px;
        padding: 15px 0;
        background-color: var(--color1);
        border: none;
        color: white;
        cursor: pointer;
    }
}


.text-btn-signup {
    text-align: left;
    width: 100%;
    padding: 0 15px;
    margin-top: 20px;

    a {
        margin-left: 5px;
        font-weight: 700;
        color: var(--text-100);
    }
}